
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="">Emplyees Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="">A Propos</a>
            <a class="nav-link" href="/employeeManagement">Gérer les salariés</a>
            
          </div>
        </div>
      </div>
    </nav>

    <div class="jumbotron text-center " id="jumb">
      <div class="text1">
        <br />
        <h1 class="display-4 text">
          Géstion des salariés
        </h1>
        
          <button class="btn btn-outline-succes" type="button" (click)="navigateToEmployeeList()">Gérer les salariés</button>

     
        <div>

        </div>
      </div>
      <div>

      </div>
    </div>
  </div>
